<header class="site-header">
  <div class="wrapper">
    <a class="site-title nav-item" 
      href="{% if page.language == "es" %}
        {{ "/es/home" | relative_url }}
      {% elsif page.language == "pt" %}
        {{ "/pt/home" | relative_url }}
      {% else %}
        {{ "/en/home" | relative_url }}
      {% endif %}">
      
      <img src="{{ "/assets/img/logo.png" | relative_url }}" alt="dARK Logo">
      
      <span class="site-title-text">
        
      {% if page.language == "es" %}
        {{ site.title | escape }}
      {% elsif page.language == "pt" %}
        {{ site.title_pt | escape }}
      {% else %}
        {{ site.title_en | escape }}
      {% endif %}
      </span>
    </a>
    
    <nav class="site-nav">
      {% include navigation.html %}
    </nav>
  </div>
</header>
